<div class="field">
   <%= f.label :ad_typ , "Address Type" %><br />
   <%= f.text_field :ad_typ %><br />
 </div>
<div class="field">
   <%= f.label :addr1 , "Street1" %><br />
   <%= f.text_field :addr1 %><br />
 </div>
<div class="field">
   <%= f.label :addr2 , "Street2" %><br />
   <%= f.text_field :addr2 %><br />
 </div>
<div class="field">
   <%= f.label :state , "State" %><br />
   <%= f.text_field :state %><br />
 </div>
<div class="field">
   <%= f.label :city , "City" %><br />
   <%= f.text_field :city %><br />
 </div>
<div class="field">
   <%= f.label :country , "Country" %><br />
   <%= f.text_field :country %><br />
 </div>
<div class="field">
   <%= f.label :prim_contact , "Primary Contact" %><br />
   <%= f.text_field :prim_contact %><br />
 </div>
<div class="field">
   <%= f.label :email , "Email" %><br />
   <%= f.text_field :email %><br />
 </div>
<div class="field">
   <%= f.label :phone , "Phone" %><br />
   <%= f.text_field :phone %><br />
 </div>