<h1>Commodities</h1>
<%= form_for(@commodity) do |f| %>
  <div class="field">
    <%= f.label :commodity_type, "Commodity Type" %><br />
    <%= f.text_field  :commodity_type %><br />
  </div>
  <div class="field">
    <%= f.label :commodity_name, "Commodity Name" %><br />
    <%= f.text_field :commodity_name %>
  </div>
<div class="field">
    <%= f.label :desc, "Commodity Description" %><br />
    <%= f.text_area :desc %>
  </div>
<div class="actions">
    <table>
		<tr>
			
			<td>
				<%= f.submit "Save" %>			
			</td>
		</tr>
	</table>	
</div>
<% end %>
